asyncio==3.4.3
motor
pymongo
python-dotenv==1.0.1
tgcrypto==1.2.5
telegraph
pillow==9.5.0
Unidecode
git+https://github.com/badmunda98/py-trans.git
aiohttp
gtts
wget
gpytranslate
pyfiglet
pydub
aiohttp==3.9.4
pymediainfo
opencv-python-headless
bs4
humanize
aiofiles
requests==2.31.0
sqlalchemy==1.3.23
SafoneAPI
httpx==0.27.2
py-tgcalls==0.9.7
yt-dlp==2025.5.22
git+https://github.com/Badmunda50/PyroB.git
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
